/viikko3/tehtava7/WebLogin/.gradle/
/viikko3/tehtava7/WebLogin/build/
/viikko4/tehtava1/MockitoDemo/build/
/viikko4/tehtava2/MaksukorttiMockito/.gradle/
/viikko4/tehtava2/MaksukorttiMockito/build/
/viikko4/tehtava5/IntJoukkoSovellus/.gradle/
/viikko4/tehtava5/IntJoukkoSovellus/build/
/viikko4/tehtava6/Tennis/build/
/viikko4/tehtava6/Tennis/.gradle/
/viikko6/tehtava2/QueryLanguage/.gradle/
/viikko6/tehtava2/QueryLanguage/build/
